* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #ddd;
    font-size: 110%;
    line-height: 1.25;
    font-family: sans-serif;
}

.masthead {
    background: #333;
    color: white;
    overflow: hidden;
    a {
        color: white;
        text-decoration: none;
        font-weight: normal;
    }
}
.content {
    width: 80%;
    margin: auto;
}

.content.login {
    width: 30%;
}

table {
    margin: auto;
    width: 100%;
}
table, tr, td  {
    border-collapse: collapse;
    padding: 0.5em;
}

thead tr:first-child, thead td {
    border: none;
    font-weight: bold;
    font-size: 1.15em;
}

tr {
    border: 1px solid #aaa;
}
tr:nth-child(even) {
    background: #ccc;
}

label {
    display: inline-block;
    float: left;
    padding: 0.5em;
}

.form-group {
    margin: 0.75em 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
    overflow: hidden;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    display: inline-block;
    padding: 0.5em;
    width: 100%;
}

input[type="checkbox"] {
    background: red;
    border: 10px solid blue;
    margin: 0.75em 0;
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
}

button, input[type="submit"] {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-image: linear-gradient(#b9b9b9, #dcdcdc);
}
.permissions {
    width: 550px;
}
