$link_color:#2c4b95;
$main_bg: #333;
$main_color: #444;
$content_bg: #ddd;
$title_color: #333;

* {
    box-sizing: border-box;
}

body {
    background: url('/images/bg.png') fixed $main_bg;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 120%;
}

a {
    color: $link_color;
    text-decoration:none;
    border-bottom: 1px dotted $link_color;
    &:hover {
        transition: all 0.15s ease;
        border-bottom: 3px solid $link_color;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $title_color;
    font-weight: normal;
    margin-top: 0;
    padding: 0;
}
h4 {
    font-weight: bold;
}

.container {
    margin: 0 1em;
}

@media (min-width: 800px){
    .container {
        display: grid;
        margin: auto;
        max-width: 1200px;
        grid-template-rows: 80px max-content;
        grid-template-columns: 20% calc( 100% - 3em - 20% );
        grid-column-gap: 3em;
        overflow: hidden;
    }
}

.masthead {
    padding-top: 2em;
    font-family: monospace;
    overflow: hidden;
    grid-column: 1;
    grid-row: 1;
    a {
        color: white;
        text-decoration: none;
        font-weight: normal;
        letter-spacing: 5px;
        border-bottom: none;
        &:hover {
            font-weight: bold;
        }
    }
}

.post {
    background: $content_bg;
    color: $main_color;
    padding: 2em;
}

.main-nav {
    h3 {
        color: #ddd;
        margin-bottom: 0.25em;
        margin-top: 1.5em;
        padding: 0;
        font-weight: bold;
        &:first-child  {
            margin-top: 0;
        }
    }
    ul, li {
        list-style-type: none;
        text-transform: capitalize;
        margin: 0;
        padding:0;
    }
    a {
        color: #ddd;
        text-decoration: none;
        border-bottom: 1px dotted white;
        transition: all 0.15s ease;
        margin-bottom: 4px;
        &:hover {
            border-bottom: 3px solid white;
            margin-bottom: 2px;
        }
    }
    .search {
        margin-top: 0;
        input {
            background: transparent;
            border: 1px solid #666;
            padding: 0.25em;
            color: #8a8a8a;
            &:focus {
                background: #ddd;
                border: 1px solid #666;
                outline: none;
                color: $main_color;
            }
        }
    }
}
.comment {
    width: 80%;
    height: 8em;
}
.pagination{
    background: $content_bg;
    overflow: hidden;
    padding: 1em 2em;
    color: $main_color;
    text-align: center;
    li {
        list-style-type: none;
        margin-right: 3px;
        display: inline-block;
    }
    .page-link {
        padding: 5px 10px;
        border: 1px solid $main_color;
        display: inline-block;
    }
}
@media (min-width: 800px){
    .content {
        grid-row: 1 / span 2;
        grid-column: 2;
    }
    .masthead {
        text-align: right;
    }
    .main-nav {
        text-align: right;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        grid-column: 1;
        grid-row: 2;
        max-width: 280px;
        overflow: hidden;
        a {
            max-width: 280px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 0.5em;
        }
    }
}

.post {
    margin-bottom: 3px;
    padding-bottom: 1em;
    overflow: hidden;
    width: 100%;
    &:last-child {
        margin-bottom: 0;
    }

}

.post-title {
    text-decoration: none;
    border-bottom: 1px dotted $title_color;
    color: $title_color;
    transition: all 0.15s ease;
    &:hover {
        border-bottom: 3px solid $title_color;
    }
}

pre {
    display: block;
    overflow: auto;
    font-size: 95%;
}
