<template>
    <span class="delete">
        <a href="#" v-if="type == 'link'" @click="deleteItem">Delete</a>
        <button v-if="type == 'button'" @click="deleteItem">Delete</button>
    </span>
</template>
<script>
export default {
    name: "deletebtn",
    props: {
        'url': {
            'type': String,
        },
        'type': {
            'type': String,
            'default': 'link'
        }
    },
    methods: {
        deleteItem() {
            http.delete(this.url).then((data)=>{
		if (data.data === 'success') {
		    let remove =this.$el.parentNode.parentNode;
		    remove.parentNode.removeChild(remove);
		}
            });
        }
    }

}
</script>
