<template>
    <div class="comment-edit">
        <a href="#" @click="showForm">edit</a>
        <form method="post" class="edit-form" :action="route">
            <textarea name="comment" class="comment">{{ content }}</textarea>
            <input type="hidden" name="_token" :value="token" >
            <input type="hidden" name="id" :value="id" >
            <input type="submit" value="Save Edits">
            <button @click="cancelEdit"> Cancel Edits</button>
        </form>
    </div>
</template>
<style scoped lang="scss">
.edit-form {
    display: none;
}
</style>
<script>
export default {
    name: 'edit-comment',
    props: [
        'content',
        'route',
        'id'
    ],
    data() {
        return {
            'token':
            document.head.querySelector('meta[name="csrf-token"]').content
        }
    },
    methods: {
        showForm(e) {
            e.preventDefault();
            let form = this.$el.querySelector('.edit-form');
            if (form.attributes['style']) {
                form.removeAttribute('style');
            } else {
                form.style.display = 'block';
            }
        },
        cancelEdit(e) {
            e.preventDefault();
            let form = this.$el.querySelector('.edit-form');
            let text = form.querySelector('.comment');
            text.value = this.content
            this.showForm(e);
        }

    }
}
</script>
